<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>Let go Ghana</title>
	
	<link href="../static/style.css" rel="stylesheet" type="text/css">
  <link href="../static/st.css" rel="stylesheet" type="text/css">
</head>

<body >

  <div class="container">
    <form action="{{url_for('makepayment')}}" method="POST">
      <div class="form-control"> 
        {{form.Name.label}}{{form.Name(size=20)}}
      </div>
      <div class="form-control"> 
        {{form.Registration_No.label}}{{form.Registration_No}}
      </div>
      <div class="form-control"> 
        {{form.level.label}}{{form.level(size=1)}}
      </div>
		    <div class="form-control"> 
          {{form.Email.label}}{{form.Email}}
		    </div>
		    
				  <div class="form-control"> 
            {{form.MobileMoney.label}}{{form.MobileMoney(size=1)}}
          
				<div class="form-control"> {{form.Amount.label}}{{form.Amount(size=4)}}</div>
				<div class="form-control"> {{form.Contact.label}}{{form.Contact(size=20)}}</div>
		    
{{form.submit}}
    </form>
  </div>

 
  <div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <!-- <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image"> -->
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. My name is Sam. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='image/chatbox-icon.svg') }}" /></button>
        </div>
    </div>
</div>
<script>
  $SCRIPT_ROOT={{request.script_root|tojson }};
</script>
<script src="../static/app.js"></script>
 </body>

</html>
    
